= form_for [:admin, @post] do |f|
  = @post.validation
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :summary
    = f.text_area :summary
  .field
    = f.label :content
    = f.text_area :content
  = @post.tags
  .actions
    = f.submit t 'post.button.publish'
